@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Playfair+Display');


.animate {
  position: absolute;
  top: 0px;
  left: 5%;
  overflow: hidden;

   h1 {
      transform: translateX(-185px);
      transition: 0.5s;
   }
}

.fp-controlArrow.fp-prev {
    left: 5px;
    border: none;
    width: 50px;
    height: 101px;
    background: url(../images/arrow.png) no-repeat;
    background-size: 50% 50%;
    background-position: center;
    cursor: pointer;
}
.fp-controlArrow.fp-next {
    right: 7px;
    border: none;
    width: 50px;
    height: 101px;
    background: url(../images/arrow.png) no-repeat;
    transform: rotate(180deg);
    background-size: 50% 50%;
    background-position: center;
    cursor: pointer;
}

body {

  #nav {
      top: 53px;
      width: 100%;
      position: fixed;
      z-index: 100;
      text-align: right;
      right: 5%;

      i {
        padding: 0 10px;
        transition: 0.5s;
      }

      #color-social {
        z-index:0;
        top: 0;
        right: 0;
        position: absolute;

         i {

           &:nth-of-type(1) {
             background: -webkit-linear-gradient(65deg, #E73C7E, #23D5AB, #E73C7E, #23D5AB);
             background-size: 400% 400%;
             -webkit-background-clip: text;
             -webkit-text-fill-color: transparent;
             animation: color-scroll 15s ease infinite;
           }

           &:nth-of-type(2) {
             background: -webkit-linear-gradient(65deg, #23D5AB, #E73C7E, #23D5AB);
             background-size: 400% 400%;
             -webkit-background-clip: text;
             -webkit-text-fill-color: transparent;
             animation: color-scroll 15s ease infinite;
           }

           &:nth-of-type(3) {
             background: -webkit-linear-gradient(-130deg, #E73C7E, #23D5AB, #E73C7E, #23D5AB);
             background-size: 400% 400%;
             -webkit-background-clip: text;
             -webkit-text-fill-color: transparent;
             animation: color-scroll 15s ease infinite;
           }
         }
      }

      #social {
        top: 0;
        right: 0;
        position: absolute;
        z-index:999;

        i {
          opacity: 0;
          color:white;
          transition: 0.45s;
          cursor: pointer;
        }
      }
  }

  .section {

    h1 {

      font-size: 55px;
      font-family: 'Open Sans Condensed', sans-serif;
      background: -webkit-linear-gradient(-65deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
      background-size: 400% 400%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: color-scroll 30s ease infinite;
    }

    p {
      font-family: 'Playfair Display', serif;
      font-size: 30px;
    }
  }

  #header {
      background:
        linear-gradient(
          rgba(255, 255, 255, 0.15),
          rgba(255, 255, 255, 0.15)),
        url("../images/header.jpg");
      background-position: center;
      background-size: cover;

      h1 {
        position: absolute;
        left: 5%;
        top: -34px;
        font-size: 85px;
      }
  }

  #about {

    p {
      margin: 0 auto;
      width: 50%;
      line-height: 45px;
    }
  }

  #products {
    background: linear-gradient(-45deg, #23D5AB, #23A6D5, #E73C7E, #EE7752);
    background-size: 400% 400%;
    animation: color-scroll 55s ease infinite;

    h1 {
      color:white;
      -webkit-text-fill-color: currentcolor;
    }

    .slide {

      .projectContainer {
        width: 75%;
        margin: 0 auto;
        display: flex;

        div {
          padding: 0 10px;
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;

          &:nth-of-type(2) {
            align-items: center;
          }

          a {
            text-decoration: none;
          }

          h1 {
            font-size: 45px;
            margin: 0;
            font-family: 'Playfair Display', serif;
            transition: 0.45s ease;
          }

          p {
            padding: 10px 0;
            color: white;
            font-size: 22px;
          }

          .imgContainer {
            max-width: 450px;
            width: 100%;
            padding: 0;
            display: flex;
            justify-content: center;
            background: white;
            margin: 10px 0;
            border: 2px solid white;

            img {
              display: block;
              width: 100%;
              transition: 0.45s ease;
            }
          }
        }
      }
    }
  }

  #contact {

    #contactInfo {
      margin: 0 auto;
      display: flex;

      p {
        font-size: 25px;
        margin: 0;
      }

      h2 {
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 75px;
        background: -webkit-linear-gradient(-65deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
        background-size: 400% 400%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: color-scroll 30s ease infinite;
      }

      h3 {
        margin: 0 0 25px 0;
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 35px;
      }

      div {
        margin: 0 auto;
        width: 50%;
        text-align: center;
      }
    }


    form {
      display: flex;
      flex-direction: column;

      label {
        font-family: 'Playfair Display', serif;
        padding: 45px 0 15px 0;
        font-size: 25px;
      }

      input {
        border: none;
        border-bottom: 1px solid black;
        font-family: 'Playfair Display', serif;
        font-size: 18px;
      }

      textarea {
        height: 10vh;
        border: 1px solid black;
        font-family: 'Playfair Display', serif;
        font-size: 18px;
      }

      input:focus, textarea:focus {
        outline: none;
      }

      button {
        margin: 15px 0;
        padding: 15px;
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 35px;
        background: linear-gradient(-45deg, #23D5AB, #23A6D5, #E73C7E, #EE7752);
        background-size: 400% 400%;
        animation: color-scroll 35s ease infinite;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border: 1px solid black;
        transition: 0.5s;
        cursor: pointer;
      }
    }
  }
}


@media (max-width: 1200px) {
  body {

    #header {
      background-position: 65% 50%;

      h1 {
        margin-top: 45px;
        font-size: 125px;
      }
    }

    .section {

      .header {
        margin-top: 25px;
        font-size: 75px;
      }
    }

    #about {

      p {
        font-size: 40px;
        width: 65%;
        line-height: 65px;
      }
    }

    #products {

      .slide {

        .projectContainer {
          flex-direction: column;

          div {
            width: 100%;
            text-align: center;

            h1 {
              font-size: 65px;
              margin-bottom: 25px;
            }

            p {
              display: none;
            }

            .imgContainer {
              max-width: 650px;
            }
          }
        }
      }
    }

    #contact {

      #contactInfo {

        div {

          h2 {
            font-size: 65px;
          }

          h3 {
            font-size: 45px;
          }

          p {
            font-size: 35px;
          }
        }
      }
    }
  }
}



@keyframes color-scroll {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
